1.We shall use the same dataset used in previous assignment -digits.Make a 80-20 train/test split.[Hint:Explore datasets module from scikit learn]

In [1]:
from sklearn.datasets import load_digits
import pandas as pd
import numpy as np
digits = load_digits()
x=digits.images
y=digits.target
a=np.ravel(x[0])
for i in range(1,len(x)):
    b=np.ravel(x[i])
    a=np.vstack([a,b])

z=np.hstack([a,np.array(y).reshape(len(y),1)])
data=pd.DataFrame(z,dtype=int)
data=data.rename(columns={64:'digit'})

In [2]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,digit
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,6,13,10,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,0,3,11,16,9,0,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,0,7,13,13,9,0,0,3
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4

2.Using scikit learn perform a LDA on the dataset. Find out the number of components in the projected subspace.[Hint:Refer to discriminant analysis moduleof scikit learn]

In [4]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
clf = LinearDiscriminantAnalysis()
clf.fit(data.iloc[:,:-1], data['digit'])

D:\softwares\Anaconda\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
              solver='svd', store_covariance=False, tol=0.0001)

In [10]:
existing_2d = clf.transform(data.iloc[:,:-1])
existing_df_2d = pd.DataFrame(existing_2d)
existing_df_2d.index = data.index
#existing_df_2d.columns = ['PC1','PC2']
existing_df_2d.head()

,0,1,2,3,4,5,6,7,8
0,-2.014632,-5.623486,-0.186594,-2.800109,0.443373,0.579755,-0.109349,-0.183507,0.965495
1,0.220967,3.592400,2.149017,-0.114046,-2.054971,-2.222544,-0.123115,-3.392106,-1.207669
2,2.234855,2.709504,4.269928,-2.147419,1.737674,-1.281434,2.512566,1.083700,0.004225
3,2.760965,-0.624427,0.158751,1.247578,-0.066359,0.805282,-2.963266,-1.575261,0.020835
4,-5.845449,1.754015,0.400295,-1.376300,-0.312251,-0.461142,-1.367118,0.665557,0.132020

In [11]:
existing_df_2d['digit']=data['digit']
existing_df_2d.head()

,0,1,2,3,4,5,6,7,8,digit
0,-2.014632,-5.623486,-0.186594,-2.800109,0.443373,0.579755,-0.109349,-0.183507,0.965495,0
1,0.220967,3.592400,2.149017,-0.114046,-2.054971,-2.222544,-0.123115,-3.392106,-1.207669,1
2,2.234855,2.709504,4.269928,-2.147419,1.737674,-1.281434,2.512566,1.083700,0.004225,2
3,2.760965,-0.624427,0.158751,1.247578,-0.066359,0.805282,-2.963266,-1.575261,0.020835,3
4,-5.845449,1.754015,0.400295,-1.376300,-0.312251,-0.461142,-1.367118,0.665557,0.132020,4

3.Transform the dataset and fit a logistic regression and observe the accuracy. Compare it with the previous model based on PCA in terms of accuracy and model complexity.[Hint: Project both the train and test samples to the new subspace]

In [12]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(existing_df_2d,test_size=0.2,random_state=3)
print(train.shape)
print(test.shape)
train_x=train.iloc[:,:-1]
train_y=train['digit']
test_x=test.iloc[:,:-1]
test_y=test['digit']

(1437, 10)
(360, 10)

In [14]:
from sklearn.linear_model import LogisticRegression
logistic=LogisticRegression()
logistic.fit(train_x,train_y)

from sklearn import metrics
y_pred=logistic.predict(test_x)
metrics.accuracy_score(y_pred,test_y) #much higher than PCA which had 0.9527777777777777 accuracy

D:\softwares\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\softwares\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.9722222222222222