1.Load the file “zoo.data” and look at the info and first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

In [50]:
import pandas as pd
data=pd.read_csv('zoo.csv')
data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [51]:
data=data.sort_values(by='class_type')

2. Find out the unique number of high level class.

In [52]:
data['class_type'].unique()

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

3. Use the 16-intermediate feature and perform an agglomerative clustering.[ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]

In [53]:
data.iloc[:,1:17].head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
32,1,0,0,1,0,0,0,1,1,1,0,0,2,0,0,1
35,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,0
36,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0
44,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [54]:
from sklearn.cluster import AgglomerativeClustering
import numpy as np
clustering = AgglomerativeClustering(n_clusters=7).fit(data.iloc[:,1:17])
clustering.labels_

array([1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 2, 1, 1, 1, 1, 2, 4, 4,
       4, 1, 4, 1, 1, 4, 1, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 6, 5, 6, 6,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 0, 0, 0, 0, 0,
       0, 0, 0, 6, 6, 0, 0, 6, 0, 0, 6, 0, 0], dtype=int64)

In [55]:
data['cluster']=clustering.labels_

In [57]:
#data.groupby(['cluster','class_type',]).count()

In [41]:
#data['cluster']=data['cluster'].map({0:6,2:4,3:2,4:1,6:7})

In [58]:
#data.groupby(['class_type','cluster']).count()

In [47]:
from sklearn import metrics
import numpy as np

In [56]:
metrics.mean_squared_error(data['cluster'],data['class_type'])

7.673267326732673