1.Compute how much total salary cost has increased from year 2011 to 2014

In [1]:
import pandas as pd
sald=pd.read_csv('Salaries.csv',index_col=0)

D:\softwares\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
sald.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
print(sald['Year'].unique())
sg=sald.groupby(['Year']).mean()

[2011 2012 2013 2014]

In [6]:
sg['TotalPayBenefits']

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

2.Which Job Title in Year 2014 has highest mean salary?

In [21]:
sald[sald['Year']==2014].sort_values('TotalPayBenefits',ascending=False).head(1)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT

3.How much money could have been saved in Year 2014 by stopping OverTimePay?

In [26]:
money=sald[sald['Year']==2014].sum()

In [32]:
money['TotalPayBenefits']-money['OvertimePay']

3615947181.32999

4.Which are the top 5 common job in Year 2014 and how much do they cost SFO ?

In [45]:
sald[sald['Year']==2014].sort_values('TotalPayBenefits',ascending=False).head(5)['JobTitle']

Id
110532              Deputy Chief 3
110533           Asst Med Examiner
110534    Chief Investment Officer
110535             Chief of Police
110536      Chief, Fire Department
Name: JobTitle, dtype: object

In [102]:
#last 5 common jobs
sald[sald['Year']==2014].sort_values('TotalPayBenefits')['JobTitle'][:5]

Id
148654    Counselor, Log Cabin Ranch
148627                 Account Clerk
148628               General Laborer
148629               General Laborer
148630            Transcriber Typist
Name: JobTitle, dtype: object

In [91]:
sald.groupby('Year')

Int64Index([110532, 110533, 110534, 110535, 110536, 110537, 110538, 110539,
            110540, 110541,
            ...
            148641, 148642, 148643, 148644, 148645, 148646, 148648, 148649,
            148650, 148654],
           dtype='int64', name='Id', length=38119)

In [ ]:
5.Who was the top earning employee across all the years?

In [41]:
sald['TotalPayBenefits'].idxmax()

1

In [42]:
sald['TotalPayBenefits'].max()

567595.43

In [44]:
sald.loc[1]

EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 1, dtype: object

In [106]:
#for lowest mean salary iin 2014
sald[sald['Year']==2014]['TotalPayBenefits'].min()

-618.13

In [108]:
sald[sald['Year']==2014]['TotalPayBenefits'].idxmin()

148654

In [109]:
sald.loc[148654]

EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148654, dtype: object

In [110]:
#In year 2014 OverTimePay was what percentage of  TotalPayBenefits
ll=sald[sald['Year']==2014].mean()

In [112]:
(ll['OvertimePay']/ll['TotalPayBenefits'])*100

5.387907663195691